<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saraswati Resto</title>
    <link
      rel="shortcut icon"
      href="./images/heros/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <app-bar></app-bar>
    <hero-app></hero-app>
    <explore-app></explore-app>
    <footer-bar></footer-bar>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var hamburger = document.querySelector(".hamburger");
        var drawer = document.querySelector(".navigation-drawer");

        hamburger.addEventListener("click", function () {
          drawer.classList.toggle("open");
        });
      });
    </script>
  </body>
</html>
